<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Doadores Por Estado</h1>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="doadores" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome Estado</th>
            <th>Quantidade</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-doador>
          <tr>
            <td>{{ doador.nomeEstado }}</td>
            <td>{{ doador.qtdePessoas }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2">
              Nenhum Doador encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="voltar" routerLink="/dashboard"></a>
    </div>
  </div>

</div>
