<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Dashboard</h1>
    </div>

    <div class="ui-g-4">
      <a pButton label="Doadores Por Estados" routerLink="/dashboard/por-estados"></a>
    </div>

    <div class="ui-g-4">
      <a pButton label="Doadores Por IMC" routerLink="/dashboard/por-imc"></a>
    </div>

    <div class="ui-g-4">
      <a pButton label="Doadores por Pecentual de Obesos" routerLink="/dashboard/percentual-obesos"></a>
    </div>

    <div class="ui-g-4">
      <a pButton label="Doadores Por Media Idade" routerLink="/dashboard/tipo-sanguineo-por-media-idade"></a>
    </div>

    <div class="ui-g-4">
      <a pButton label="Doadores Por Tipo Sanguineo" routerLink="/dashboard/quantidade-por-tipo-sanguineo"></a>
    </div>
</div>